<!DOCTYPE html>
<html>

<head>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
		
	</script>
	<script>
		$(document).ready(function() {
  			$('label').click(function() {
    		$('label').removeClass('active');
    		$(this).addClass('active');
  			});		
		});
	</script>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'mo5amed.css')}}">
</head>
<body>
<nav> <!-- begin navigation element -->
      <div id="menu"> <!-- create and start new element with the id: menu -->
        <ul> <!-- begin unordered list -->
			<li><a href="index.html">Home</a></li><!-- list items -->
			<li><a href="https://www.eecs.mit.edu/">MIT</a></li>
			<li><a href="https://www.instagram.com/mahmoudkhalifa00/?hl=en">Personal</a></li>
			<li><a href="https://github.com/Mahmoudkh420?tab=repositories">Projects</a></li>
			<li><a href="https://www.facebook.com/mhmoud.khalifa">Images</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Tamra,_Jezreel_Valley">Tamra</a></li>
			<li><a href="https://open.spotify.com/user/mahmoudkh00">Music</a></li>
		</ul> <!-- end the unordered list -->
		</div> <!-- end the 'menu' element -->
	</nav> <!-- end navigation element -->
								
	<div class="container">
	<img src="{{url_for('static', filename = '1223.jpg')}}" id="image1">
	<div class="centered">The Life Of מוחמד</div>
	</div>
	<img src="{{url_for('static', filename = 'mo5amed.jpg')}}" id="image2">
	<div class="left-text">Hello, my name is מוחמד. I'm from Tamra. I'm 18 years old. Ever since I was six years old, I have played both the guitar and the piano, and I love playing soccer. I studied at Sisters of Saint Joseph school in Nazareth. Also, I am going to MIT.</div>
	<div class="right-text">
		At MIT, I plan on majoring in Computer Science, yet I am not sure what I want to minor in. Although I want to major in Computer Science, I am interested in astrophysics, so I am not 100% sure about my future.
	</div>
	<div class="center">
	
<form action="/" method="post">
  <div class="rating">
  	{{avg}}
    <label>☆
      <input type="radio" name="starValue" value="5" />
    </label>
    <label>☆
      <input type="radio" name="starValue" value="4" />
    </label>
    <label>☆
      <input type="radio" name="starValue" value="3" />
    </label>
    <label>☆
      <input type="radio" name="starValue" value="2" />
    </label>
    <label>☆
      <input type="radio" name="starValue" value="1" />
    </label>
  </div>
  <br>
  <input type="submit" name="Submit" id="button1" value="Submit">
</form>
</div>



</body>
</html>